.head {
padding: auto;
font-family: 'Open Sans-Regular', sans-serif;
font-size: 9px;
text-align: right;
margin: 5px 5px 5px 5px;
height: 50px;
position: relative;
background-color: black;
color:white;
}

.h1  {


}

.navigation {
padding: auto;
font-family: 'Open Sans-Regular', sans-serif;
font-size: 14px;
text-align: right;
margin: 5px 5px 5px 5px;
}